<div class="itin"><h1 id="title">New Itinerary</h1>
<%= form_for @itinerary do |f| %>
  <p><%= f.label :title, "Title:" %>
  <%= f.text_field :title %><br></p>

  <p><%= f.label :destination_id, "City:" %>
  <%= f.collection_select :destination_id, Destination.sort_alpha, :id, :full_info %><br></p>
  
 
  <br>
  <p> Add fellow travelers to this itinerary: </p>
  
  <%= f.label :user_ids, "Check mark all that apply." %><br>
  <%= f.collection_check_boxes :user_ids, User.all, :id, :username %><br>
 
  <br>
  <br><br>
  <div class="button"><%= f.submit %> </div>

<% end %>
</div>