<h1><%= @itinerary.title %></h1>
<h4>Destination: <%= link_to @itinerary.destination.full_info, destination_path(@itinerary.destination) %></h4>
<h4>Travelers: <%= @itinerary.fellow_traveler_first_names %></h4>
<h4>Likes: <%= @itinerary.likes %></h4>
<br>
<% @itinerary.places.each do |place| %> 
  <p> <%= link_to place.name, place.url %> </p>
  <img class="place-images" src="<%=place.img_url%>" alt="Image of <%=place.name%>">
  <% end %>
  <br>
<%= link_to "Add New Place", new_itinerary_place_path(@itinerary) %>
<%= link_to "Delete Itinerary", itinerary_path, method: "delete" %>
<%= link_to "Like", itinerary_like_path %>
<%= link_to "Delete", itinerary_path, method: "delete" %>
