<h1><%= @itinerary.title %></h1>
<h4>Destination: <%= link_to @itinerary.destination.full_info, destination_path(@itinerary.destination) %></h4>
<h4>Travelers: <%= @itinerary.fellow_traveler_first_names %></h4>
<h4>Likes: <%= @itinerary.likes %></h4>
<br>
<% @itinerary.places.each do |place| %> 
  <% if place.url == "" %>
    <p><%= place.name %></p>
  <% else %>
    <p><%= link_to place.name, place.url %></p>
  <% end %>
  <img class="place-images" src="<%=place.img_url%>" alt="Image of <%=place.name%>">
  <% end %>
  <br>
<%= link_to "Create New Place", new_itinerary_place_path(@itinerary) %><br>
<%= link_to "Like", itinerary_like_path %><br>
<%= link_to "Edit Itinerary", edit_itinerary_path(@itinerary) %><br>
<%= link_to "Delete Itinerary", itinerary_path, method: "delete" %><br>