<%= link_to "Edit Account", edit_user_path(@user) %>
<p><h1>Hello, <%= @user.first_name %>!</h1></p>
<p id="mantra"> <%= @user.motivation %> </p>
<p style="color: red"><%= flash[:message] %></p>
<br>
<strong><p id="itinaddlink"><%= link_to "+ Itinerary", new_itinerary_path %></p></strong>
<br>
<p>Active Itineraries:</p>
<% @user.itineraries.each do |itin| %>
  <ul>
    <li>
      <%= link_to itin.title, itin %><br>
    </li>
  </ul>
<% end %>

<p>Travel Buddies</p>
<p> here are all your travel buddies! </p>
<% @user.travel_buddies.each do |bud| %>
  <ul>
  <li> <%= bud.first_name %> </li>
  </ul>
  <% end %>
  


