<h1><%= @destination.city %></h1>
<h4><%= @destination.country %></h4>


<h4>Likes: <%= @destination.likes %></h4>
<br>
<%= link_to "Like", destination_like_path %>


<!--
 <h4>Recent Itineraries:</h4>
  <ul>
    <%  @destination.five_itineraries.each do |itin| %>
      <div class="recent-itineraries">
        <%= link_to itin.title, itinerary_path(itin) %>
      </div>
  <% end %>
  </ul>
  -->
<br><br>
<h4 class="image-titles">Most Popular Places:</h4>
  <% @destination.most_popular_places.each do |place| %>
    <p class="image-titles"><%= link_to place.name, place %></p>
    <img class="image-gallery" src="<%= place.img_url %>" alt="<%= @destination.city %> pic">
  <% end %>


  <h4 class="image-titles">Trending Places:</h4>
    <% if @destination.comments.count > 1 %>
      <% @destination.trending_places.each do |place| %>
        <p class="image-titles"> <%= link_to place.name, place %></p>
        <img class="image-gallery" src="<%= place.img_url %>" alt="<%= @destination.city %> pic"><br>
      <% end %>
  <% end %>
