<link rel="stylesheet" href="./application.css">
<h1><%= @destination.city %></h1>
<h4><%= @destination.country %></h4>

<p>Recent Itineraries:</p>
  <ul>
    <% @destination.five_itineraries.each do |itin| %>
      <div class="recent-itineraries">
        <%= link_to itin.title, itinerary_path(itin) %>
      </div>
    <% end %>
  </ul>
<br><br>
<p>Most Popular Places:</p>
  <% @destination.most_popular_places.each do |place| %>
    <img src="<%= place.img_url %>" alt="<%= @destination.city %> pic">
    <%= link_to place.name, place_path(place) %>
  <% end %>
