<!-- t.string :name
t.string :category
t.string :url
t.string :img_url

-->

<h1><%= @place.name %></h1>
<h4><%= link_to @place.destination.full_info, destination_path(@place.destination) %></h4>
<h4>Likes: <%= @place.likes %></h4>

<% if @place.url != "" %>
  <h4><%= link_to "Website", @place.url %></h4>
<% end %>
<h4>Category: <%= @place.category %></h4>

<img class="image-gallery" src="<%= @place.img_url %>" alt="<%= @place.destination.city %> pic">

<br>
<%= link_to "Like", place_like_path(@place) %>


<ul>
<% @place.comments.each do |comment|%>
  <br>
    <li id="comment-name"><%= User.find(comment.user_id).username %> says:</li>
    <%= comment.content %>
    <% if comment.user_id == @current_user.id %>
      <%=link_to "Edit", edit_place_comment_path(comment) %>
      <%=link_to "Delete", [@place, comment], method: :delete %>
    
        <% end %>
        <br>
      <% end %>
</ul>
<br>
<h3>Leave Comment</h3>
<%= render partial: "comments/form", locals: {comment: @place.comments.new} %>

